$active: #2AD7B8;
$btncolor: #48E3C7;
$linkcolor: #5FF4D9;
$text_dark: #d54c2c;

// input placeholders
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
// input placeholders end

// transition
@mixin transition {
  transition: all .6s ease-out;
}
// transition slider
@mixin transition2 {
  transition: all 1s linear;
}

// input-hidden
@mixin inputHide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

//  outline
@mixin outline{
  box-shadow: 0 0 1px 1px rgba(0, 100, 238, .5) !important;
}

@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// Small devices
@mixin dev1 {
   @media screen and (max-width: 479.5px) {
       @content;
   }
}

// Medium devices
@mixin dev2 {
   @media screen and (max-width: 767.5px) {
       @content;
   }
}

// Large devices
@mixin dev3 {
   @media screen and (max-width: 959.5px) {
       @content;
   }
}

// Extra large devices
@mixin dev4 {
   @media screen and (max-width: 1279.5px) {
       @content;
   }
}

// Extra large devices
@mixin dev2Min {
   @media screen and (min-width: 768px) {
       @content;
   }
}

// Extra large devices
@mixin dev3Min {
   @media screen and (min-width: 960px) {
       @content;
   }
}

// my devices size
@mixin mySize($d) {
   @media screen and (max-width: $d) {
       @content;
   }
}






















